.transfer-status-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #a8a29e;
    padding: 16px 8px;
    border-radius: 0.375rem;
    background-color: rgba(255, 237, 213, 0.1);
}