.master-page-view {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Zalando Sans", sans-serif;

    .page-view {
        min-height: 100vh;
        width: 100%;
        max-width: 80rem;
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}