@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --tangerine: #f08635;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tangerine: var(--tangerine);
  --font-quicksand: var(--font-quicksand);
  --font-quantico: var(--font-quantico);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand), var(--font-quantico), Arial, Helvetica, sans-serif;
}