@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-zalando-sans: var(--font-zalando-sans);
  --font-stack-sans-notch: var(--font-stack-sans-notch);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-zalando-sans), var(--font-stack-sans-notch), Arial, Helvetica, sans-serif;
}